.side-wrapper{
    flex-direction: column;
    max-width: 20rem; 
    margin: 0  2rem;
}

.btn-sideWrapper{
    margin: 1rem 0;
    padding: 1rem 1rem 1.2rem 1rem;
}

.btn-sideWrapper:hover, .btn-sideWrapper-selected{
    background-color: var(--blue-300);
    color: white;
}

a:visited{
    color: black;
}

.icon-sideWrapper{
    font-size: var(--tp2);
    padding: 0 1rem;
}

/* Main Content */
.main-notes-container{
    flex-direction: column;
    flex-grow: 1;
    margin: 3.5rem 2rem;
}

/* search bar */
.input-search {
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}
.input-search > i {
    cursor: pointer;
    top: 0rem;
}

.input-search > input{
    padding: 0.2rem 0.8rem;
    font-size: 1.7rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    min-width: 60rem;

}

/* Notes input */
.input-note-container{
    border: 1px solid black;
    align-self: center;
    border-radius: 0.3rem;
    min-height: 20rem;
    min-width: 60rem;
    flex-direction: column;
}


.title-input-note{
    min-height: 4rem;
    text-align: center;
}

.label-input-note{
    text-align: center;
    max-width: 6rem;
    max-height: 2.5rem;
}
.content-input-note{
    min-height: 10rem;
    padding: 1rem 1rem;
}

.notes-btn{
    margin-left: auto;
    align-items: center;
}

.notes-icon{
    font-size: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

/* note */
.notes-container{
    flex-wrap: wrap;
}
.note{
    height: 25rem;
    width: 25rem;
    max-width: 40rem;
    flex-direction: column;
    border-radius: 0.3rem;
    margin: 1rem;
    overflow: scroll;

}
.content-note{
    overflow: scroll;
}
.badge-note, .priority-note{
    border: 1px solid white;
    ;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.badge-note{
    top: 0.4rem;
    right: 0.4rem;
    background-color: var(--blue-100)
}

.priority-note{
    bottom: 0.4rem;
    left: 0.4rem;
    background-color: var(--blue-300);
}

.archive-note{
    max-height: 20rem;
    max-width: 40rem;
    flex-direction: column;
    border-radius: 0.3rem;
    margin: 1rem;
    overflow: scroll;
    background-color: var(--blue-100);
}

.emptyPage{
    align-self: center;
    margin-left: 20rem;
    color: var(--blue-300);
}

/* color classes */

.red{
    background-color: #F87171;
}


.yellow{
    background-color: #FBBF24;
}

.green{
    background-color: #34D399;
}

.pink{
    background-color: #F472B6 ;
}

.purple{
    background-color: #A78BFA ;
}

.clr-btn{
    border: 1px solid white;
    padding: 1rem;
}

/* edit modal */

.edit-Modal{
    background-color: var(--blue-300);
    /* display: none;  */
    position: fixed;
    z-index: 999; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; 
} 

.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/* filter table */

.filterTable-note-container{
    margin-top: 1rem;
    align-items: center;
    justify-content: space-around;
    
}

.filter-note-heading{
    margin-right: 1rem;
}
.filter-note-form{
    background-color: var(--blue-300);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 4rem;
}